.header{
    text-align: center;
    color: red;
    border: 2px solid rgb(17, 69, 211);
    padding: 30px;
    margin: 15px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.title-budget{
    color: green;
    font-weight: 900;
}